/************************************************ General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

body {
    background-color: #f8f8f8;
}

/************************************************ Header */
header{
    text-align: center;
    background-color: white;
    margin: 0;
    color: white;
}

header img{
    width: 370px;
    height: 90px;
    margin: 1rem 0rem;
}

header p{
    background-color: #5271FF;
    padding: 0.3rem 0rem;
}

.portada{
    width: 100%;
    height: 425px;
    margin: 0;
}

.navbar1, .navbar2{
    display: flex;
    ul{
        list-style-type: none;
    }
    li{
        float: left;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.navbar1{
    background-color: #5271FF;
    padding: 1.25rem 0rem;
    a{
        margin: 0.75rem 0rem;
    }
    img{
        width: 40px;
        height: 42px;
        margin: 0rem 0.5rem 0rem 1rem;
    }
}

.home, .home2, .search, .login, .favorite, .cart{
    display: flex;
}

.home{
    margin-right: 15rem;
}

.favorite img{
    width: 30px;
    height: 42px;
}

.search input{
    margin-top: 0.1rem;
    margin-left: 1rem;
    width: 500px;
    height: 35px;
    border-radius: 0.8rem;
    border: none;
}

.search img{
    width: 30px;
    height: 30px;
    margin: 0.25rem 0rem 0rem 0.35rem;
}

.navbar2{
    background-color: #375cff;
    padding: 0.75rem 0rem;
    justify-content: center;
    li{
        margin-right: 3rem;
    }
}

/************************************************ Main */

h1{
    color: #5271FF;
    text-align: center;
    padding: 2rem 0rem 3rem 0rem;
    font-size: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
    img{
        max-width: 400px;
        height: 200px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    h2, h3, button{
        margin-bottom: 0.5rem;
    }
}

.btn-comp{
    background-color: #5271FF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    border: none;
    font-size: 1rem;
}

.btn-fav{
    background-color: #5271FF;
    color: white;
    padding: 0.5rem 0.65rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10rem;
    column-gap: 10.8rem;
}

.first-div-login{
    text-align: center;
    h1{
        padding-bottom: 1rem;
    }
    a{
        display: inline-block;
        margin-bottom: 2rem;
        text-decoration: none;
        color: black;
    }
}

.login-register{
    display: flex;
    width: 700px;
    height: 456px;
    padding: 1rem 0rem;
    margin-left: 38rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: -2px 2px 20px rgb(53, 53, 53);
    h2{
        margin-bottom: 1rem;
    }
    hr{
        height: 100%;
        border: 1px solid gray;
    }
    input{
        width: 250px;
        height: 35px;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid gray;
    }
    p{
        margin-bottom: 1rem;
    }
}

.btn-login-register{
    background-color: #5271FF;
    color: white;
    padding: 0.70rem 4.75rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.y{
    margin-right: 5rem;
}

.n{
margin-left: 5rem;
}

.btn-log-reg, .btn-comprar{
    background-color: #5271FF;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.btn-comp, .btn-fav, .btn-log-reg, .btn-login, .btn-login-register, .btn-comprar{
    &:hover{
        cursor: pointer;
        background-color: #375cff;
        transition: 250ms;
    }
}

.carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla{
    display: flex;
    justify-content: center;
}

.ord{
    width: 75px;
}

.prod-name{
    width: 400px;
}

.precio {
    width: 100px;
}

.ord, .prod-name, .precio{
    margin-bottom: 0.5rem;
}

.total{
    text-align: center;
}

.envio, .pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    input{
        width: 250px;
        height: 35px;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid gray;
    }
}

.envio {
    h4 {
        margin: 1rem 0rem 0.5rem 0rem;
    }
}

.pago {
    h4 {
        margin: 1rem 0rem 0.5rem 0rem;
    }

}

.btn-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/************************************************ Footer */

.foot{
    width: 100%;
    display: flex;
    background-color: #5271FF;
    color: white;
    font-size: 1rem;
    justify-content: space-between;
    margin-top: 3.5rem;
    a{
        text-decoration: none;
        color: white;
    }
}

.image{
    margin: 1.2rem 0rem;
}

.fc, .ig, .mail, .msj{
    display: flex;
}

.ig img{
    margin-right: 2px;
}
.mail img{
    margin-left: 22px;
}

.seguinos{
    margin: 15px 0px 0px 25px;
}

.comunicate{
    margin: 15px 25px 0px 0px;
    img{
        margin-right: 2px;
    }
}

.cp{
    padding-left: 21px;
}

.fc p, .ig p, .mail p, .msj p{
    margin-top: 4px;
}